node_modules
/Users/apple/Desktop/microverse-project/microverse-gitdesktop/week4/capstone-project/node_modules/Users/apple/Desktop/microverse-project/microverse-gitdesktop/week4/capstone-project/.hintrc